# TODO Rename this file to secrets.py and put in the appropriate values
# secrets.py is excluded from source control by the .gitignore file,
# so it is appropriate to use for storing credentials that should not
# be put on source control, such as API keys and database passwords.

SECRET_MYSQL_DATABASE_USER = 'todo_mysql_username'  # TODO your mysql username here
SECRET_MYSQL_DATABASE_PASSWORD = 'todo_password'  # TODO your mysql password here
SECRET_MYSQL_DATABASE_DB = 'todo_database_name'  # TODO todo your mysql database name here
SECRET_SECRET_APRS_FI_API_KEY = 'todo_key' # TODO your APRS.fi API key here